
<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
  <div class="container-fluid">
     <img  href="{{path('app_producto_index')}}" src="{{ asset('images/' ~ 'logo-piratas.png') }}" alt="Imagen logo" class="logo-imagen"/>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
   
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>

              <ul>
                <li>
                 <a class="bi bi-cart mx-5" onclick="mostrar()"></a>
               
                </li>


            <li class="nav-item dropdown ">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Usuario
              </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% if app.user %}
                <li>
                  <a  class="dropdown-item" href="/logout">Logout</a>  
                  <a class="dropdown-item" href="{{ path('app_user_show', {'id': app.user.id}) }}" class="textos_cabecera">{{ 'say_hello'|trans({'name': app.user.nombre}) }} </a>
                </li>
             {% else %}
                <li>
                  <a class="dropdown-item" href="/login">Login</a>
                  <a class="dropdown-item" href="/register">{{ 'Nuevo usuario'|trans }}</a>
                </li>
              {% endif %}
                <li>
                 <a class="dropdown-item ">Carrito  <button onclick="mostrar()">&#128722</button></a>
               
                </li>
                
               
            </ul>
       
          </li>
          </ul>
        {% set app_ruta = app.request.attributes.get('_route') %}
        {{render(controller('App\\Controller\\IdiomaController::index',{ruta: app_ruta}))}}
    </div>
  </div>
</nav>