<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto col-12 d-flex flex-row justify-content-between">

      <li class="nav-item active">
        <a class="nav-link" href="{{path('app_producto_index')}}">
          {{ 'Pagina principal'|trans }}
        </a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="{{path('app_producto_regalos')}}">
          {{ 'Regalos'|trans }}
        </a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="{{path('app_producto_ropa')}}">
          {{ 'Ropa'|trans }}
        </a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="{{path('app_producto_decoracion')}}">
          {{ 'Decoracion'|trans }}
        </a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="{{path('app_producto_figuras')}}">
          {{ 'Figuras'|trans }}
        </a>
      </li>

      {% if is_granted('ROLE_ADMIN')%}
      <li class="nav-item active">
        <a class="nav-link" href="{{path('app_producto_new')}}">
          {{ 'Crear producto'|trans }}
        </a>
      </li>
      {% endif %}

      {% if is_granted('ROLE_ADMIN')%}
      <li class="nav-item active">
        <a class="nav-link" href="{{path('app_producto_search_all')}}">
          {{ 'Listar producto'|trans }}
        </a>
      </li>
      {% endif %}

      {% if is_granted('ROLE_ADMIN')%}
      <li class="nav-item active">
        <a class="nav-link" href="{{path('app_user_index')}}">
          {{ 'Listar usuarios'|trans }}
        </a>
      </li>
      {% endif %}

      {% if app.user %}
        {% if is_granted('ROLE_ADMIN')%}
        <li class="nav-item active">
          <a class="nav-link" href="{{path('app_pedido_index_all')}}">
            {{ 'Listar pedidos'|trans }}
          </a>
        </li>
        {% else %}
        <li class="nav-item active">
          <a class="nav-link" href="{{path('app_pedido_index', {'id': app.user.id}) }}">
            {{ 'Listar pedidos'|trans }}
          </a>
        </li>
        {% endif %}
      {% endif %}
    </ul>
  </div>
</nav>