{% extends 'base.html.twig' %}

{% block title %}Decoracion{% endblock %}

{% block body %}
    <ul id="listaCarrito" class="listaCarrito"></ul>
  
    <div class = "title text-center titular_lista_index">
        <h2 class = "position-relative d-inline-block columna-productos">{{ 'Decoracion'|trans }}</h2>
    </div>


    <div class="row row-cols-1 row-cols-md-4 g-4 justify-content-center">
        {% for producto in productos %}
            {% if loop.index <= 3 %}  
                <div class="col mb-3">
                    <div class="card">
                        <div class="collection-img position-relative">
                            {% if producto.imagen %}
                                <img src="{{ asset('images/' ~ producto.imagen) }}" class="w-100" alt="Foto producto"/>
                            {% else %}
                                <img src="{{ asset('images/' ~ 'ImagenPorDefecto.png') }}" class="w-100" alt="Foto producto"/>
                            {% endif %} 
                        </div>
                        <div class="text-center">
                            <div class="rating mt-3">
                                <span class="text-primary"><i class="fas fa-star"></i></span>
                                <span class="text-primary"><i class="fas fa-star"></i></span>
                                <span class="text-primary"><i class="fas fa-star"></i></span>
                                <span class="text-primary"><i class="fas fa-star"></i></span>
                                <span class="text-primary"><i class="fas fa-star"></i></span>
                            </div>
                            <span class="fw-bold">{{ producto.precio }}€</span>
                            <p class="text-capitalize my-1">{{ producto.nombre }}</p>
                            <a href="{{ path('app_producto_show', {'id': producto.id}) }}" class="btn btn-primary">Ver Producto</a>
                        </div>
                    </div>
                </div>
            {% endif %}
                {% else %}
                    <p colspan="10">no hay registros</p>
        {% endfor %}
    </div>

    <div class="row row-cols-1 row-cols-md-4 g-4 justify-content-center">
        {% for producto in productos %}
            {% if loop.index >= 4 and loop.index <= 6 %}
                <div class="col mb-3">
                    <div class="card">
                        <div class="collection-img position-relative">
                            {% if producto.imagen %}
                                <img src="{{ asset('images/' ~ producto.imagen) }}" class="w-100" alt="Foto producto"/>
                            {% else %}
                                <img src="{{ asset('images/' ~ 'ImagenPorDefecto.png') }}" class="w-100" alt="Foto producto"/>
                            {% endif %} 
                        </div>
                        <div class="text-center">
                            <div class="rating mt-3">
                                <span class="text-primary"><i class="fas fa-star"></i></span>
                                <span class="text-primary"><i class="fas fa-star"></i></span>
                                <span class="text-primary"><i class="fas fa-star"></i></span>
                                <span class="text-primary"><i class="fas fa-star"></i></span>
                                <span class="text-primary"><i class="fas fa-star"></i></span>
                            </div>
                            <span class="fw-bold">{{ producto.precio }}€</span>
                            <p class="text-capitalize my-1">{{ producto.nombre }}</p>
                            <a href="{{ path('app_producto_show', {'id': producto.id}) }}" class="btn btn-primary">Ver Producto</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
 

<br>{% include 'comunes/_paginacion.html.twig' with{
	    elementos_por_pagina: constant('App\\Controller\\ProductoController::ELEMENTOS_POR_PAGINA'),
	    numero_total_elementos: productos.count,
	    pagina_actual: pagina_actual1
	} %}
   
{% endblock %}