{% extends 'base.html.twig' %}

{% block title %}Producto index{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    <script type="text/javascript" src="{{ asset('js/sliders.js') }}"></script>
{% endblock %}

{% block body %}
    <span class="titular_lista_index">
    {# {{app.session.isStarted()}} #}
        <h3>Novedades</h3>
        <a class="nav-link" href="{{path('app_pedido_new')}}">Crear nuevo pedido</a>

    </span>  
    <section class="novedades">
      <div class="slideshow-container">
        {% set productosPorSlider = 3 %}
        {% set novedades = [] %}
        {% for producto in productos %}
            {% if producto.novedad %}
                {% set novedades = novedades|merge([producto]) %}
            {% endif %}
        {% endfor %}
        {% for producto in novedades %}           
            {% if productosPorSlider == 1 or loop.index % productosPorSlider == 1 %}
            <div class="mySlides1">
            <div class="contenido1">
            {% endif %}
                <div class="contenido_stories">
                    <div class="contenido_stories_foto">
                        {% if producto.imagen %}
                        <img src="{{ asset('images/' ~ producto.imagen) }}" alt="Foto producto"/>
                        {% else %}
                        <img src="{{ asset('images/' ~ 'ImagenPorDefecto.jpg') }}" alt="Foto producto"/>
                        {% endif %} 
                    </div>
                    <div class="contenido_stories_descripcion">
                        <div class="descripcion_cabecera"><p>{{ producto.nombre }}</p></div>
                        <div class="descripcion_titulo"><p>{{ producto.descripcion }}</p></div>
                        <div class="descripcion_enlace"><p>{{ producto.precio }}<a href="{{ path('app_producto_show', {'id': producto.id}) }}">Ver</a></p></div>
                    </div>
                </div>   
            {% if loop.last or loop.index % productosPorSlider == 0 %}
            </div>
            </div>
            {% endif %}           
        {% else %}
            <p colspan="10">no hay registros</p>
        {% endfor %}
        <a class="prev" onclick="plusSlides(-1, 0)">&#10094;</a>
        <a class="next" onclick="plusSlides(1, 0)">&#10095;</a>
      </div>
    </section>

    <span class="titular_lista_index">
        <h3>Destacados</h3>
    </span>
    <section class="destacados">
      <div class="slideshow-container">

        {% set destacados = [] %}
        {% for producto in productos %}
            {% if producto.destacado %}
                {% set destacados = destacados|merge([producto]) %}
            {% endif %}
        {% endfor %}

        {% for producto in destacados %}
            {% if productosPorSlider == 1 or loop.index % productosPorSlider == 1 %}
            <div class="mySlides2">
               <div class="contenido1">
            {% endif %}
                
                <div class="contenido_stories">
                    <div class="contenido_stories_foto">
                        {% if producto.imagen %}
                        <img src="{{ asset('images/' ~ producto.imagen) }}" alt="Foto producto"/>
                        {% else %}
                        <img src="{{ asset('images/' ~ 'ImagenPorDefecto.jpg') }}" alt="Foto producto"/>
                        {% endif %} 
                    </div>
                    <div class="contenido_stories_descripcion">
                        <div class="descripcion_cabecera"><p>{{ producto.nombre }}</p></div>
                        <div class="descripcion_titulo"><p>{{ producto.descripcion }}</p></div>
                        <div class="descripcion_enlace"><p>{{ producto.precio }}<a href="{{ path('app_producto_show', {'id': producto.id}) }}">Ver</a></p></div>
                    </div>
                </div>
            {% if loop.last or loop.index % productosPorSlider == 0 %}
               </div>
            </div>
            {% endif %}
        {% else %}
            <p colspan="10">no hay registros</p>
        {% endfor %}
        <a class="prev" onclick="plusSlides(-1, 1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1, 1)">&#10095;</a>
      </div>
    </section>


    <span class="titular_lista_index">
        <h3>Descuentos</h3>
    </span>
    <section class="descuentos">
      <div class="slideshow-container">
       
        {% set ofertas = [] %}
        {% for producto in productos %}
            {% if producto.oferta %}
                {% set ofertas = ofertas|merge([producto]) %}
            {% endif %}
        {% endfor %}

        {% for producto in ofertas %}
            {% if productosPorSlider == 1 or loop.index % productosPorSlider == 1 %}
            <div class="mySlides3">
               <div class="contenido1">
            {% endif %}
                
                <div class="contenido_stories">
                    <div class="contenido_stories_foto">
                        {% if producto.imagen %}
                        <img src="{{ asset('images/' ~ producto.imagen) }}" alt="Foto producto"/>
                        {% else %}
                        <img src="{{ asset('images/' ~ 'ImagenPorDefecto.jpg') }}" alt="Foto producto"/>
                        {% endif %} 
                    </div>
                    <div class="contenido_stories_descripcion">
                        <div class="descripcion_cabecera"><p>{{ producto.nombre }}</p></div>
                        <div class="descripcion_titulo"><p>{{ producto.descripcion }}</p><img class="mini-imagen" src="{{ asset('images/descuento.png') }}" alt="logo descuento"/></div>
                        <div class="descripcion_enlace"><p>{{ producto.precio }}<a href="{{ path('app_producto_show', {'id': producto.id}) }}">Ver</a></p><p>Rebajado un {{ producto.descuento }}%</p></div>
                    </div>
                </div>
            {% if loop.last or loop.index % productosPorSlider == 0 %}
               </div>
            </div>
            {% endif %}
        {% else %}
            <p colspan="10">no hay registros</p>
        {% endfor %}
        <a class="prev" onclick="plusSlides(-1, 2)">&#10094;</a>
        <a class="next" onclick="plusSlides(1, 2)">&#10095;</a>
      </div>
    </section>

    <span class="titular_lista_index">
        <h3>Nuestros productos</h3>
    </span>
    <section class="columna-productos">
        {% for producto in productos %}
            {% if loop.index <= 4 %}
                <div class="contenido_stories">
                    <div class="contenido_stories_foto">
                        {% if producto.imagen %}
                        <img src="{{ asset('images/' ~ producto.imagen) }}" alt="Foto producto"/>
                        {% else %}
                        <img src="{{ asset('images/' ~ 'ImagenPorDefecto.jpg') }}" alt="Foto producto"/>
                        {% endif %} 
                    </div>
                    <div class="contenido_stories_descripcion">
                        <div class="descripcion_cabecera"><p>{{ producto.nombre }}</p></div>
                        <div class="descripcion_titulo"><p>{{ producto.descripcion }}</p></div>
                        <div class="descripcion_enlace"><p>{{ producto.precio }}<a href="{{ path('app_producto_show', {'id': producto.id}) }}">Ver</a></p></div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </section>

    <section class="columna-productos">
        {% for producto in productos %}
            {% if loop.index >= 5 and loop.index <= 8 %}
                <div class="contenido_stories">
                    <div class="contenido_stories_foto">
                        {% if producto.imagen %}
                        <img src="{{ asset('images/' ~ producto.imagen) }}" alt="Foto producto"/>
                        {% else %}
                        <img src="{{ asset('images/' ~ 'ImagenPorDefecto.jpg') }}" alt="Foto producto"/>
                        {% endif %} 
                    </div>
                    <div class="contenido_stories_descripcion">
                        <div class="descripcion_cabecera"><p>{{ producto.nombre }}</p></div>
                        <div class="descripcion_titulo"><p>{{ producto.descripcion }}</p></div>
                        <div class="descripcion_enlace"><p>{{ producto.precio }}<a href="{{ path('app_producto_show', {'id': producto.id}) }}">Ver</a></p></div>
                    </div>
                        
                </div>
            {% endif %}
        {% endfor %}
    </section>
    <span class="boton_lista_index">
        <a href="{{ path('app_producto_search_all') }}" class="btn btn-warning">Ver lista completa</a>
    </span>

{% endblock %}
