{% extends 'base.html.twig' %}

{% block title %}Producto index{% endblock %}

{% block body %}
    <h1>Lista de productos</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Descripcion</th>
                <th>Cantidad</th>
                <th>Categoria</th>
                <th>Destacado</th>
                <th>Novedad</th>
                <th>Oferta</th>
                <th>Imagen</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for producto in productos %}
            <tr>
                <td class="registro">{{ producto.id }}</td>
                <td class="registro">{{ producto.nombre }}</td>
                <td class="registro">{{ producto.precio }}</td>
                <td class="registro">{{ producto.descripcion }}</td>
                <td class="registro">{{ producto.cantidad }}</td>
                <td class="registro">{{ producto.categoria }}</td>
                <td class="registro">{{ producto.destacado ? 'Yes' : 'No' }}</td>
                <td class="registro">{{ producto.oferta ? 'Yes' : 'No' }}</td>
                <td class="registro">{{ producto.novedad ? 'Yes' : 'No' }}</td>
                {% if producto.imagen %}
		        <td><img src="{{ asset('images/' ~ producto.imagen) }}" alt="Foto producto" class="mini-imagen"/></td>
                {% else %}
                <td><img src="{{ asset('images/' ~ 'ImagenPorDefecto.jpg') }}" alt="Foto producto" class="mini-imagen"/></td>
                {% endif %} 
                <td>
                    <div class="contenedor-btn">
                        <a class="btn btn-primary" href="{{ path('app_producto_show', {'id': producto.id}) }}">Detalles</a>
                        {% if is_granted('ROLE_ADMIN')%}
                            <a class="btn btn-warning" href="{{ path('app_producto_edit', {'id': producto.id}) }}">Actualizar</a>                 
                            {{ include('producto/_delete_form.html.twig') }}
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {#<a href="{{ path('app_producto_new') }}">Create new</a>#}
{% endblock %}