{% extends 'base.html.twig' %}

{% block title %}Productos{% endblock %}

{% block body %}
    <span class="titular_lista_index">
        <h3>Resultados</h3>
    </span> 
    {% set productosPorFila = 4 %}
    {% for producto in productos %}
        {% if productosPorFila == 1 or loop.index % productosPorFila == 1 %}
        <div class="contenido_filas_resultados_busqueda">
        {% endif %}
            <div class="contenido_stories">  
                <div class="contenido_stories_foto">
                    {% if producto.imagen %}
                    <img src="{{ asset('images/' ~ producto.imagen) }}" alt="Foto producto"/>
                    {% else %}
                    <img src="{{ asset('images/' ~ 'ImagenPorDefecto.png') }}" alt="Foto producto"/>
                    {% endif %} 
                </div>
                <div class="text-center">
                    <span class="fw-bold">{{ producto.precio }}€</span>
                    <p class="text-capitalize my-1">{{ producto.nombre }}</p>
                    <a href="{{ path('app_producto_show', {'id': producto.id}) }}" class="btn btn-primary">Ver Producto</a>
               </div> 
            </div>
        {% if loop.last or loop.index % productosPorFila == 0 %}
        </div>
        {% endif %} 
    {% else %}
        <p colspan="10">No hay resultados</p>
    {% endfor %}

{% endblock %}