{% extends 'base.html.twig' %}

{% block title %}Producto{% endblock %}

{% block body %}
    <br>
    <!-- <img id="anuncio_l" src="../images/anuncio_l.jpg"/> -->
    <img id="pr_1" src="{{ asset('images/' ~ 'ImagenPorDefecto.jpg') }}" alt="Foto producto" />
    <h1 style="margin-left: 6vw">Producto</h1>

    <table class="tabla_productos">
        <tbody>
            <tr>
                <th>Id</th>
                <td class="registro">{{ producto.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td class="productoNombre registro" id="productoNombre">{{ producto.nombre }}</td>
            </tr>
            <tr>
                <th>Precio</th>
                <td id="productoPrecio"class="productoPrecio registro">{{ producto.precio }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td class="registro">{{ producto.descripcion }}</td>
            </tr>
            <tr>
                <th>Cantidad</th>
                <td id="productoCantidad" class="productoCantidad registro">{{ producto.cantidad }}</td>
            </tr>
            <tr>
                <th>Categoria</th>
                <td class="registro">{{ producto.categoria }}</td>
            </tr>
            <!--<tr>
                <th>Imagen</th>
                {% if producto.imagen %}
		        <td style="padding-left: 10vh"><img src="{{ asset('images/' ~ producto.imagen) }}" alt="Foto producto" class="mini-imagen productoImagen"/></td>
                {% else %}
                <td><img src="{{ asset('images/' ~ 'ImagenPorDefecto.jpg') }}" alt="Foto producto" class="mini-imagen productoImagen"/></td>
                {% endif %}
            </tr>-->
            <tr>
                <th>Destacado</th>
                <td class="registro">{{ producto.destacado ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Oferta</th>
                <td class="registro">{{ producto.oferta ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Novedad</th>
                <td class="registro">{{ producto.novedad ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table> <br>
    <div class="botones" style="margin-left: 6vw">
        <a class="btn btn-danger" href="{{ path('app_producto_index') }}">Volver a la lista</a>
        {% if is_granted('ROLE_ADMIN')%}
            <a class="btn btn-warning" href="{{ path('app_producto_edit', {'id': producto.id}) }}">Actualizar</a>
        {% endif %}
        {% if app.user %}
            <button class="btn btn-primary" >Añadir al carrito</button>
        {% endif %}
    </div>   

{% endblock %}
